// Home page
.home {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  // REMOVE BACKGROUND FOR NOW
  // background-image: url(../../assets/images/brand/landing-mobile.png);
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;

  // @include media-query("large") {
  //   background-image: url(../../assets/images/brand/landing-desktop.png);
  // }
}

.home__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 17.159rem;
  width: 100%;
  @include dflex(column, wrap, center, center);
  background-color: $blackhaze;

  @include media-query("medium") {
    height: 40.033rem;
    width: 40.033rem;
  }

  @include media-query("large") {
    height: 25.506rem;
    width: 25.506rem;
  }
}

.home__logo {
  height: 2.59rem;
  width: 7.456rem;
  margin-bottom: 2.414rem;

  @include media-query("medium") {
    height: 6.043rem;
    width: 17.396rem;
  }

  @include media-query("large") {
    margin-bottom: 0;
    height: 6.063rem;
    width: 9.726rem;
  }

  @include media-query("extra-large") {
    height: 6.063rem;
    width: 9.726rem;
  }
}

.home__logo-description {
  height: 1rem;
  width: 100%;

  @include media-query("medium") {
    height: 1.5rem;
    width: 26.269rem;
  }

  @include media-query("large") {
    height: 2.5rem;
    width: 11.48rem;
  }

  @include media-query("extra-large") {
    //height: 0.63rem;
    width: 11.48rem;
  }
}