// Home page
.home {
  position: relative;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

.home__inner {
  height: 100%;
  width: 100%;
}

.home__floral {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 28rem;
  max-height: 100%;
  min-width: 20rem;
  width: 100%;
  object-fit: contain;

  @include media-query("large") {
    min-width: 80rem;
  }
  
}

.home__logo-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include dflex(column, wrap, center, center);

  @include media-query("large") {
    top: 45%;
    transform: translate(-45%, -50%);
  }
}

.home__logo {
  height: 2.59rem;
  width: 7.456rem;
  margin-bottom: 1.5rem;

  @include media-query("medium") {
    height: 6.043rem;
    width: 14.396rem;
  }

  @include media-query("large") {
    margin-bottom: 0;
    height: 6.063rem;
    width: 9.726rem;
  }
}

.home__title {
  margin: 0;

  white-space: nowrap;
  font-size: 80%;
  color: $brightgrey;
  font-weight: 300;
  letter-spacing: 0.75px;
  text-align: center;

  @include media-query("medium") {
    font-size: 100%;
  }

  @include media-query("large") {
    font-size: 85%;
    letter-spacing: 0.85px;
  }
}
